.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #daefff;
  border-radius: 2em;
  padding: 0.8em;
  margin: 0em 0.8em;
  height: 14em;
  width: 17em;
  font-size: calc(8px + 2vmin);
  text-align: justify;
  align-items: center;
  justify-content: center;
  color: #daefff;
}

#p-name {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
}

#p-description {
  font-family: "Lato", sans-serif;
}

#p-link {
  font-family: "Lato", sans-serif;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .card {
    height: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    height: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 1em 0em 0.5em 0em;
    width: 100%;
    height: 100%;
    font-size: 15px;
  }
}

@media screen and (max-width: 260px) {
  .card {
    font-size: 15px;
  }
}

@media screen and (max-width: 150px) {
  .card {
    height: 100%;
    font-size: 12px;
  }
}
